<form action="/search" method="get" role="search" class="col-auto ml-auto form-inline">
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search" class="form-control">
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>

<ul class="nav col-auto">
  <li class="nav-item">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account" class="nav-link">Account</a>
      {% else %}
        <a href="/account/login" class="nav-link">Login</a>
      {% endif %}
    {% endif %}
  </li>

  <li class="nav-item">
    <a href="/cart" class="nav-link">
      Cart
      {%- if cart.item_count > 0 -%}
        <div class="badge">{{ cart.item_count }}</div>
      {%- endif -%}
    </a>
  </li>
</ul>