{% assign hide_default_title = false %}
{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  {% assign hide_default_title = true %}
{% endif %}

<div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
  <select id="product-select" name="id">
    {% for variant in product.variants %}
      <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>
</div>