<!-- /templates/customers/reset_password.liquid -->

<div>
  <div>

    <div class="form-vertical">
      {% form 'reset_customer_password' %}

        <h1>Password Reset</h1>

        {{ form.errors | default_errors }}

        <label for="ResetPassword" class="hidden-label">New Password</label>
        <input type="password" value="" name="customer[password]" id="ResetPassword" placeholder="New Password">

        <label for="PasswordConfirmation" class="hidden-label">Confirm New Password</label>
        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" placeholder="Confirm New Password">

        <div>
          <input type="submit" class="btn btn--full" value="Submit">
        </div>

      {% endform %}
    </div>

  </div>
</div>
