@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-size($size-value: 1.6) {
  /* scss-lint:disable DuplicateProperty  */
  font-size: ($size-value * 10) + px;
  font-size: $size-value + rem;
}

/* Based on http://codepen.io/javasteve99/pen/hDxpn */
@mixin font-face($font-family, $file-path, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("{{ \'fonts-#{$file-path}.eot\' | asset_url }}");
    src: url("{{ \'fonts-#{$file-path}.eot?#iefix\' | asset_url }}") format("embedded-opentype"),
    url("{{ \'fonts-#{$file-path}.woff\' | asset_url }}") format("woff"),
    url("{{ \'fonts-#{$file-path}.ttf\'| asset_url }}") format("truetype")/*,
    url("{{ \'fonts-#{$file-path}.svg##{$font-family}\' | asset_url }}") format("svg")*/;
    font-weight: $font-weight;
    font-style: $font-style;
  }
  /* Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
   @media screen and (-webkit-min-device-pixel-ratio: 0) {
     @font-face {
       font-family: $font-family;
       src: url("{{ \'fonts-#{$file-path}.svg##{$font-family}\' | asset_url }}") format("svg");
     }
   } */
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin justify {
  text-align: justify;
  font-size: 0.01px;

  > * {
    @include font-size(1.4);
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }

}

@mixin aspect-ratio($width, $height) {
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  &:before {
    content: '';
    display: block;
    float: left;
    left: 0;
    padding-top: ($height / $width) * 100%;
    position: relative;
    top: 0;
    width: 100%;
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
  > img, a img, .background-image {
    backface-visibility: hidden;
    display: block;
    height: 100%;
    left: 50%;
    padding: 0 !important;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: height 0.3s ease-in-out, min-height 0.3s ease-in-out, min-width 0.3s ease-in-out, width 0.3s ease-in-out;
    object-fit: cover;
  }
}


@mixin underline($color, $text-color) {
  line-height: 1;
  position: relative;
  text-decoration: none;
  &:after {
    backface-visibility: hidden;
    background-color: $color;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(100% + 2px);
    transform: scaleX(0);
    transition: all 0.3s ease;
    width: 100%;
  }
  &:hover, &:focus, &:active, &.active {
    color: $text-color;
    text-decoration: none;
    &:after {
      transform: scaleX(1);
      transition: all 0.3s ease;
    }
  }
}
