// Global Variables

// Fonts
$font-name: "SofiaLight", sans-serif;

// Colors
$black: #000000;
$grey: #d3d3d3;
$white: #FFFFFF;

// Vertical Spacing
$lg-top: 144px;
$md-top: 96px;
$sm-top: 48px;
$xs-top: 24px;
$xxs-top: 12px;

// Grid Settings
$columns: 12;

$half-gutter-size: 12px;
$gutter-size: 24px;

$sm-break-down: 767px;
$sm-break: 768px;
$md-break: 991px;
$md-break-up: 992px;
$lg-break-down: 1199px;
$lg-break: 1200px;

// Misc
$site-transition: ease-in-out;
