.product-wrapper {
  .product-form {
    .product-details {
      .color-wrapper {
        .color-link-wrapper {
          .color-swatch,
          .color-label {
            display: inline-block;
          }
          .color-swatch {
            border: 1px solid $black;
            border-radius: 100%;
            height: 48px;
            width: 48px;
          }
        }
      }
    }
  }
}
