.site-footer {
  .col-12 {
    align-items: flex-start;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
  }
  .form-inline {
    flex-wrap: nowrap;
    input {
      flex-grow: 1;
      width: inherit;
    }
  }
}