$sm-break: 768px;
$md-break: 991px;
$lg-break-down: 1199px;
$lg-break: 1200px;

$half-gutter-size: 12px;
$gutter-size: 24px;

$columns: {{ settings.columns }};



$black: #000000;
$grey: lighten($black, 50%);
$white: #FFFFFF;


$base-font-size: 16px;
